<!DOCTYPE html>
<html>
<head>
    <title>Таксопарк</title>
    {{ encore_entry_link_tags('app') }}  {# Link to CSS #}
</head>
<body>
<div id="react-app">
</div>

{{ encore_entry_script_tags('app') }}
</body>
</html>
